DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
APP_TIME_ZONE=Asia/Kolkata

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

SENDGRID_API_KEY=
DEFAULT_FROM_EMAIL=bhavesh.kataria@inditech.co.in
SUPERVISOR_EMAIL=bhavesh.kataria@inditech.co.in
SUPERVISOR_NAME=Bhavesh Kataria
SITE_BASE_URL=http://127.0.0.1:8000
