[Unit]
Description=Leadgen Tracking System Gunicorn
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/leadgen-tracking-system
EnvironmentFile=/var/www/secrets/.leadgen_env
ExecStart=/var/www/.venv/bin/gunicorn config.wsgi:application -c deploy/gunicorn.conf.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
